@font-face {
   font-family: 'league-spartan.bold';
   font-display: swap;
   src: url('file:///C:/Users/lucaf/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-07-03_025802/fonts/league-spartan.bold/font.ttf');
}
